.projects-main {
  width: 100%;
  text-align: center;
}

.basic-projects {
  margin-left: 5%;
  margin-right: 5%;
}

.projects-heading-div {
  display: flex;
}

.projects-heading-div > * {
  flex: 1;
}

.projects-heading-img-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-heading-text-div {
  text-align: center;
}

.projects-heading-img-div > * {
  max-width: 100%;
  height: auto;
}

.projects-heading-text {
  font-size: 56px;
  font-weight: 400;
  font-family: "Google Sans Medium";
  line-height: 1.1;
  text-align: center;
  margin-top: 80px;
}

.projects-heading-sub-text {
  font-size: 30px;
  font-family: "Google Sans Regular";
  text-align: center;
  margin-bottom: 10px;
}

.projects-header-detail-text {
  font-size: 20px;
  line-height: 30px;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Google Sans Medium";
}
.publications-heading-text-div {
  text-align: center;
  font-family: "Google Sans Regular";
  margin-top: 70px;
}

.publications-heading-text {
  font-size: 56px;
  font-weight: 600;
}
.repo-cards-div-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem 1rem;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 60px;
}

@media (max-width: 1380px) {
  .projects-heading-text {
    font-size: 50px;
    margin-top: 80px;
  }
  .projects-heading-sub-text {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .projects-heading-text,
  .publications-heading-text {
    font-size: 30px;
    margin-top: 20px;
  }

  .projects-heading-sub-text {
    font-size: 20px;
  }

  .projects-heading-div {
    flex-direction: column;
  }

  .projects-header-detail-text {
    font-size: 16px;
    margin-right: 0px;
    margin-left: 0px;
    line-height: normal;
    text-align: center;
  }

  .repo-cards-div-main {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
  }
}

.deployments-section {
  background-color: #f4f4f4; /* Set background color */
  padding: 20px; /* Add padding for spacing */
  border-radius: 8px; /* Add border radius for rounded corners */
}

.deployments-section p {
  margin-bottom: 10px; /* Add margin to separate paragraph from links */
}

.deployments-section ul {
  list-style-type: none; /* Remove default list styling */
}

.deployments-section ul li {
  margin-bottom: 5px; /* Add margin between each link */
}

.deployments-section ul li a {
  color: #333; /* Set link color */
  text-decoration: none; /* Remove underline from links */
  transition: color 0.3s ease; /* Add transition for smooth color change */
}

.deployments-section ul li a:hover {
  color: #007bff; /* Change link color on hover */
}

.deployments-section {
  display: flex; /* Use flexbox for layout */
  flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
  justify-content: space-between; /* Distribute items evenly along the main axis */
}

.deployments-card {
  width: calc(50% - 10px); /* Set card width to half of the container with spacing */
  margin-bottom: 20px; /* Add margin between cards */
  border-radius: 8px; /* Add border radius for rounded corners */
  overflow: hidden; /* Hide overflowing content */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
}

.deployments-card:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Increase box shadow on hover */
}

.deployments-card img {
  width: 100%; /* Make image fill the card horizontally */
  height: auto; /* Maintain aspect ratio */
}

.deployments-content {
  padding: 15px; /* Add padding for content */
}

.deployments-content h3 {
  margin-top: 0; /* Remove margin from top of heading */
  margin-bottom: 10px; /* Add margin at the bottom of heading */
}

.deployments-content p {
  margin: 0; /* Remove default margins */
}
